<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Ma Biblio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/ajouter']">Ajouter un livre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/my']">Mon profil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h2>Ajouter un livre</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Titre :</label>
      <input type="text" id="title" name="title" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="author">Auteur :</label>
      <input type="text" id="author" name="author"  class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
